<!--  Footer  -->
        <style>
            
        </style>

        <footer>
            <div class="foot-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 hidden-xs">
                            <h4>法律中心</h4>
                        </div>
                        <div class="col-sm-9 ">
                            <h4>风险提示</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="foot-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 hidden-xs">
                            <ul >
                                <li><a href="/open-account.php">用户协议</a></li>
                                <!-- <li><a href="/risk-warning.php">风险警示</a></li> -->
                                <li><a href="/disclaimer.php">免责声明</a></li>
                                <li><a href="/policy.php">隐私政策</a></li>

                            </ul>
                        </div>
                        <div class="col-sm-9">
                            <p>数字货币价格波动较大，具有高风险，未必适合所有投资者。数字货币产品和服务可能会导致亏损或盈利，您的损失可能超过您的初始投资金额。所以，投资者在投资数字货币之前，应知悉数字货币的一切风险，并审慎考虑自己的投资目标、财政状况、需要及交易经验等，不应将无法承受损失的资本用作数字货币交易资金。</p>
                            <p>RHYBIT特别申明在交易过程中如遇网络连接或网速问题无法进行平台登录或进行其他操作，RHYBIT不对客户因自身网络问题产生的交易损失负责。客户同意承担一切使用电子交易平台和任何通过电子交易平台传输的订单的全部责任。</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="foot-bottom">
                <div class="container">
                    <p>© Copyright 2018 - Rhine  Group Limited</p>
                </div>
            </div>

        </footer>

