<header>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- 导航头部 -->
            <div class="navbar-header">
                <!-- 移动设备上的导航切换按钮 -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 品牌名称或logo -->
                <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt=""></a>
            </div>
            <!-- 导航项目 -->
            <div class="collapse navbar-collapse navbar-collapse-example">
                <!-- 右侧的导航项目 -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">首页</a></li>
                    <li><a href="/about.php">关于我们</a></li>
                    <li class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" >数字货币 </a>
                        <ul class="dropdown-menu magictime spaceInDown" role="menu">
                            <li><a href="/products/usdt.php">USDT</a></li>
                            <li><a href="/products/btc.php">比特币</a></li>
                            <li><a href="/products/eth.php">以太坊</a></li>
                            <li><a href="/products/ltc.php">莱特币</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" >交易软件 </a>
                        <ul class="dropdown-menu magictime spaceInDown" role="menu">
                            <li><a href="/mt4.php">MT4</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" >法律中心 </a>
                        <ul class="dropdown-menu magictime spaceInDown" role="menu">
                            <li><a href="/open-account.php">用户协议</a></li>
                            <!-- <li><a href="/risk-warning.php">风险警告</a></li> -->
                            <li><a href="/disclaimer.php">法律声明</a></li>
                            <li><a href="/policy.php">隐私条款</a></li>
                        </ul>
                    </li>
                    <li><a href="/help.php">新手帮助</a></li>
                    <li class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" >联系我们 </b></a>
                        <ul class="dropdown-menu magictime spaceInDown" role="menu">
                            <li><a href="/contact.php">客户服务</a></li>
                            <li><a href="/consulting.php">合作咨询</a></li>
                        </ul>
                    </li>

                   <!--  <li><a href="./advantage.php">RHY 优势</a></li>
                    <li><a href="./secrecy.php">保密协议</a></li>
                    <li><a href="./law.php">法律条款</a></li>
                    <li><a href="./calendar.php">财经新闻</a></li>
                    <li><a href="./downloads.php">下载中心</a></li> -->


                    <li><a href="http://office.rhybit.com/home" class="login">登录账户</a></li>
                    <li><a href="http://office.rhybit.com/reg" class="register">注册账号</a></li>
                    <!-- <li class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" >语言 <b class="caret"></b></a>
                        <ul class="dropdown-menu magictime spaceInDown" role="menu">
                            <li><a href="../zh-cn">中文</a></li>
                            <li><a href="../english">English</a></li>
                            <li><a href="../bahasa">Bahasa</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div><!-- END .navbar-collapse -->
        </div>
    </nav>
</header>
<div class="visible-xs" style="height: 80px;background: url(/assets/img/m-header-bg.jpg);"></div>

