<ul class="topul">
    <li>数字货币</li>
    <ul class="subul">
        <li><a href="/products/usdt.php">USDT</a></li>
        <li><a href="/products/btc.php">比特币</a></li>
        <li><a href="/products/eth.php">以太坊</a></li>
        <li><a href="/products/ltc.php">莱特币</a></li>
    </ul>
    <li>法律中心</li>
    <ul class="subul">
        <li><a href="/open-account.php">用户协议</a></li>
        <li><a href="/disclaimer.php">法律声明</a></li>
        <li><a href="/policy.php">隐私条款</a></li>
    </ul>
    <li>联系我们</li>
    <ul class="subul">
        <li><a href="/contact.php">客户服务</a></li>
        <li><a href="/consulting.php">合作咨询</a></li>
    </ul>
</ul>