* {
    transition: all .5s;
    -webkit-transition: all .5s;
}

.banner h1,
.supervise h1,
.safe h1,
.plan h1 {
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

.banner-info p,
.supervise-info p,
.safe-info p,
.plan-info p {
    font-size: 14px;
    line-height: 28px;
}

.banner {
    background: url(../img/about/about_banner.jpg);
    background-size: cover;
    background-position: center;
}
.banner .container {
    position: relative;
    height: 600px;
}

.banner-info {
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 560px;

    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.banner-list-wrap {
    position: absolute;
    bottom: -120px;
    right: 50px;

}

.banner-list-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 160px;
    height: 160px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background: #c01a28;
    color: #fff;
    text-align: center;
}
.banner-list-item1 {
    right: 180px;
    bottom: 100px;
}
.banner-list-item2 {
    bottom: -100px;
    right: 360px;
}
.banner-list-item3 {
    bottom: -80px;
    right: 180px;
}
.banner-list-item4 {
    bottom: 0;
    right: 0;
}
.banner-list-item h4 {
    font-size: 16px;
}

.supervise {
    margin-top: 280px;
}
/*.supervise .container {
    display: flex;
}
.supervise-info {
    flex: 1;
    max-width: 500px;
}
.supervise-img {
    flex: 1;
    text-align: right;
}

.supervise-img img {
    position: relative;
    max-width: 400px;
    padding-top: 50px;
}*/

.safe {
    margin-top: -30px;
    display: flex;
}
.safe-img {
    flex:1;
    padding: 50px;
    background: url(../img/about/safe_bg.jpg);
    background-size: cover;
    background-position: center;
}
.safe-info {
    flex:1;
    padding: 80px 50px 120px 50px;
    background: #c01a28;
    color: #fff;
}
.safe-info p {
    max-width: 500px;
}

.plan {
    display: flex;

    margin: -30px 150px 0 150px;
    padding-top: 300px;
    position: relative;
    height: 800px;

    background: url(../img/about/plan_bg.jpg);
    background-size: cover;
    background-position: center;
}

.plan-info {
    flex: 1;
    padding: 80px 100px;
    background: rgba(204, 19, 26, .9);
    color: #fff;
}
.plan-space {
    flex: 1;
    padding: 80px 100px;
}

.partner {
    position: relative;
    margin: -50px 200px 50px 200px;
    background: #fff;
    border-radius: 5px;
}
.partner ul {
    display: flex;
    
    height: 100px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, .5);
}
.partner ul li {
    flex: 1;
    line-height: 100px;
    text-align: center;
}

@media (max-width: 1440px) {
    .plan {
        margin: -30px 50px 0 50px;
        padding-top: 250px;
    }
    .partner {
        margin: -50px 100px 50px 100px;
    }
}
@media (max-width: 1200px) {
    .m-banner-info h1,
    .supervise h1,
    .safe h1,
    .plan h1 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-bottom: 30px;
    }
    .m-banner-info p,
    .supervise-info p,
    .safe-info p,
    .plan-info p {
        font-size: 15px;
        line-height: 30px;
    }
    .m-banner-info1 {
        position: relative;
        margin: -150px 50px 30px ;
        padding: 30px;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3);
        border-radius: 5px;
        background: #fff;
    }
    .m-banner-info2 {
        display: flex;
    }
    .m-banner-info2 li {
        flex: 1;
        margin: 15px 8px;
        padding: 15px;
        background: #c01a28;
        border-radius: 3px;
        color: #fff;
    }
    .m-banner-info2 h4 {
        font-size: 20px;
        letter-spacing: 3px;
        text-align: center;
    }
    .m-banner-info2 p {
        font-size: 14px;
        line-height: 28px;
    }
    .supervise {
        margin-top: 60px;
    }
    .plan-info,
    .plan-space{
        padding: 50px;
    }
}

@media (max-width: 992px) {
    .m-banner-info h1,
    .supervise h1,
    .safe h1,
    .plan h1 {
        font-size: 35px;
        letter-spacing: 3px;
        margin-bottom: 25px;
    }
    .m-banner-info p,
    .supervise-info p,
    .safe-info p,
    .plan-info p {
        font-size: 14px;
        line-height: 30px;
    }

    .banner .container {
        height: 400px;
    }
    .m-banner-info1 {
        margin: -80px 50px 30px ;
    }
    .supervise-img img {
        max-width: 380px;
    }
    
    .safe-img {
        padding: 50px;
    }
    .safe-info {
        padding: 80px 50px 50px;
    }

    .plan {
        margin: 30px 0;
        padding: 50px;
        height: auto;
    }

    .plan-info {
        border-radius: 10px;
        padding: 50px 80px;
        background: rgba(204, 19, 26, .9);
        color: #fff;
    }
    .plan-space {
        flex: 1;
        padding: 80px 100px;
    }

    .partner {
        margin: 30px 15px;
    }
}

@media (max-width: 768px) {
    .m-banner-info h1,
    .supervise h1,
    .safe h1,
    .plan h1 {
        font-size: 25px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        text-align: center;
    }
    .m-banner-info p,
    .supervise-info p,
    .safe-info p,
    .plan-info p {
        font-size: 13px;
        line-height: 26px;
    }
    .banner .container {
        height: 250px;
    }
    .m-banner-info1 {
        margin: 30px 15px 30px ;
        padding: 15px;
    }
    .m-banner-info2 {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .m-banner-info2 li {
        width: 170px;
        flex: none;
        margin: 10px 0;
        padding: 15px;
    }
    .m-banner-info2 h4 {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .m-banner-info2 p {
        font-size: 13px;
        line-height: 26px;
    }
    .supervise {
        margin: 30px 15px;
    }
    .supervise-info {
        max-width: 100%;
    }
    .safe {
        margin-top: 30px;
        display: flex;
        background: url(../img/about/safe_bg.jpg);
    }
    .safe-info {
        background: rgba(204, 18, 26, .6);
    }
    .safe-info p {
        max-width: 100%;
    }
    .plan {
        margin: 0;
        padding: 30px;
    }

    .plan-info {
        border-radius: 10px;
        padding: 30px;
        background: rgba(204, 19, 26, .9);
    }
    .partner {
        margin: 30px 0;
    }
}