body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
header {
    /*height: 80px;*/
}
.navbar-header {

}

header > nav {
    padding: 0;
    border: none!important;
    margin-bottom: 0!important;
    border-radius: 0!important;
    box-shadow: 0 -3px #cc1325 inset;
    background: #fff;
}
header .navbar-brand {
    position: absolute;
    padding: 0 15px 8px 60px;
    height: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
}
header .navbar-brand img {
    max-height: 50px;
}

header .navbar-right {
    margin-right: 35px;
}
header .navbar-nav>li>a {
    line-height: 80px;
    padding: 0  25px;
}

header .navbar-nav>li>a:hover,
header .nav .open>a, 
header .nav .open>a:focus, 
header .nav .open>a:hover {
    background: #cc1325;
    color: #fff;
}
header .dropdown-menu>li>a {
    line-height: 2.5;
}
header .dropdown-menu>li>a:focus,
header .dropdown-menu>li>a:hover {
    background-color: #cc1325;
}

header .navbar-toggle {
    padding: 0; margin: 0;
    height: 80px;
}
header .navbar-toggle .icon-bar {
    height: 2px;
    background-color: #cc1325;
}


footer {
    border-top: 3px solid #c30d23;
}
.foot-top {
    background: #1a1c20;
}
.foot-top h4 {
    font-size: 16px;
    color: #ccc;
    margin: 0;
    line-height: 55px;
}

.foot-middle {
    border-bottom: 1px solid #131518;
    background: #202328;
    padding-top: 30px;
}
.foot-middle li {
    line-height: 34px;
}
.foot-middle li a {
    color: #999;
}
.foot-middle p {
    font-size: 14px;
    line-height: 25px;
    color: #999;
    margin-bottom: 15px;
}

.foot-bottom {
    border-top: 1px solid #2e3238;
    background: #202328;
    text-align: center;
}
.foot-bottom p {
    color: #999;
    margin: 0;
    line-height: 55px;
}

/*内页*/
.page .banner {
    height: 480px;
    background-size: cover;
    background-position: center;
}
.page main {
    margin-top: -120px;
    margin-bottom: 60px;
    padding: 40px 30px;
    background: #fff;
    box-shadow: 0 0 10px -1px rgba(204, 0, 0, .8);
    border-radius: 10px;
}
.page main h1 {
    margin: 0 0 30px;
    line-height: 70px;
    text-align: center;
    /*background: #e8e8e8;*/
    background: #c01a28;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 3px;
}
.page main .info h4 {
    margin-top: 25px;
    font-size: 16px;
    color: #c01a28;
}
.page main .info p {
    font-size: 14px;
    line-height: 30px;
    text-indent: 2rem;
}
.page main .info figure {
    margin: 15px;
    text-align: center;
}



.page > nav .breadcrumb a {
    color: #666;
}


@keyframes circle1 {
from {transform:rotate(0deg);}
to {transform:rotate(-360deg);}
}

@keyframes circle2 {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

@keyframes circle3 {
0%   {top:0px;transform:rotate(0deg);}
25%  {top:10px;transform:rotate(10deg);}
50%  {top:0px;transform:rotate(0deg);}
75%  {top:-10px;transform:rotate(-10deg);}
100% {top:0px;transform:rotate(0deg);}
}


@media (max-width: 1200px) {
    header .navbar-nav>li>a {
        padding: 0  20px;
    }
}

@media (max-width: 992px) {
    header .navbar-brand {
        padding-left: 30px;
    }
    header .navbar-right {
        margin-right: 0;
    }
    header .navbar-nav>li>a {
        padding: 0  10px;
    }
}

@media (max-width: 768px) {
    header .navbar-brand {
        padding-left: 25px;
    }
    header .navbar-toggle {
        margin-right: 25px;
    }

    header .navbar-nav>li>a {
        line-height: 56px;
    }
    header .navbar-collapse {
        padding-right: 0;
    }

    .page .banner {
        height: 300px;
    }
    .page main {
        margin-top: 0;
        margin-bottom: 0;
        padding: 30px 15px;
        box-shadow: none;
        border-radius: 0;
    }
    .page main h1 {
        margin: 0 0 20px;
        line-height: 50px;
        font-size: 20px;
    }
    .page main .info h4 {
        margin-top: 22px;
        font-size: 15px;
    }
    .page main .info p {
        font-size: 13px;
        line-height: 26px;
    }
}
@media (min-width: 992px) {
    .login {
        background: url(../img/login_icon.png) no-repeat!important;
        background-position: 50% 50%!important;
        color: #fff!important;
    }
    .register {
        background: url(../img/register_icon.png) no-repeat!important;
        background-position: 50% 50%!important;
        color: #fff!important;
        margin-left: 15px!important;
    }

}