.banner * {
    transition: all .5s;
    -webkit-transition: all .5s;
}
.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: url(../img/index_banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner-info {
    padding-left: 200px;
    padding-top: 50px;
    color: #fff;
    max-width: 570px;
}
.banner-info h1 {
    font-size: 65px;
    letter-spacing: 5px;
    line-height: 60px;
}
.banner-info h2 {
    margin: 30px 0 20px 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 4px;
}
.banner-info p {
    max-width: 620px;
    line-height: 28px;
    letter-spacing: 2px;
    font-size: 14px;
}


.circle figure{
    position: absolute;
    width: 700px; height: 700px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -300px;
    right: -22px;
    background: rgba(204, 0, 0, .75);
}
/*.circle figure::after {
    position: absolute;
    content: '';
    width: 720px; height: 720px;
    background: url(../img/circle_small.png);
    animation:circle1 30s linear infinite;
    -webkit-animation:circle1 30s linear infinite; 
}*/
.circle figure::before {
    position: absolute;
    content: '';
    width: 1312px; height: 1312px;
    background: url(../img/circle_all.png);
    animation:circle2 30s linear infinite;
    -webkit-animation:circle2 30s linear infinite; 
}





.product, .adv {
    padding: 50px 0;
    color: #333;
    text-align: center;
}
h1.module {
    margin-top: 30px;
    font-size: 40px;
}
p.module{
    font-size: 16px;
}

.roundabout-holder{list-style:none;width:1440px;height:500px;margin:0px auto;}
.roundabout-moveable-item{
    position: relative;
    height:400px;width:650px;
    cursor:pointer;
}
.roundabout-moveable-item img{height:100%;width:100%; border-radius: 5px;}
.roundabout-moveable-item .info {
    position: absolute;
    width: 100px; height: 100%;
    top: 0; right: 0;
    background: rgba(204, 0, 0, .9);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}
.roundabout-moveable-item .active-info {
    display: none;
    position: absolute;
    width: 300px; height: calc(100% + 60px);
    top: -30px; right: 0;
    background: rgba(204, 0, 0, .9);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 50px 15px;
}
.roundabout-moveable-item .active-info img {
    margin-top: 20px;
    width: 100px; height: 100px;
}
.roundabout-moveable-item .active-info h3 {
    font-size: 20px;
    margin-top: 30px;
}
.roundabout-moveable-item .active-info p {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
}
.roundabout-moveable-item .active-info a {
    display: inline-block;
    padding: 5px 30px; margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #fff;
}
.roundabout-moveable-item .active-info a:hover {
    text-decoration: none;
    background: #fff;
    color: #c01a28;
}

.roundabout-in-focus{cursor:auto;}
.roundabout-in-focus .info {
    display: none;
}
.roundabout-in-focus .active-info {
    display: block;
}




.adv0 {
    padding: 60px 0;
}

.adv0-lists {
    position: relative;
    display: flex;
    width: 1160px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.adv0-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    flex: 1;
    padding: 30px;   
}
.adv0-item1, .adv0-item4{
    justify-content: flex-end;
}
.adv0 h4 {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
}
.adv0 h3 {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    
    width: 360px;
    line-height: 46px;
    /*border: 1px solid #666;*/
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    background: #c01a28;
}
.adv0  p {
    font-size: 13px;
    color: #888;
    line-height: 24px;
}
.adv0 img {
    position: relative;
    width: 200px;
    animation:circle3 5s linear infinite;
    -webkit-animation:circle3 5s linear infinite; 
}

.adv0-m {
    padding: 50px 0 30px 0;
}
.adv0-m-item {
    height: 330px;
    overflow: hidden;
    text-align: center;
}
.adv0-m h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}
.adv0-m img {
    max-width: 80%;
}
.adv0-m  h4 {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}
.adv0-m p {
    text-align: left;
    font-size: 14px;
}



.adv {
    background: #f6f7f7;
}
.advs-wrap {
    margin-top: 50px;
}
.adv-item {
    width: 100%;
    margin: 0 15px;
    padding: 30px;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
}
.adv-item h4 {
    font-size: 18px;
    line-height: 50px;
}
.adv-item p {
    font-size: 14px;
}


.banner2 {
    background: url(../img/index_banner2.jpg);
    background-size: cover;
    background-position: center;

    @media (max-width: 768px) {
        height: 450px;
    }

}
.banner2 .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

    height: 600px;
    color: #fff;
    padding:  50px 0 250px;
}
.banner2-top {
    text-align: center;
}

.banner2 p {
    max-width: 800px;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: 2px;
}

.highly-active {
    padding: 50px 0;
    text-align: center;
}
.highly-active .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highly-active  h1 {
    margin-bottom: 15px;
}
.highly-active p {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}
.highly-active img {
    margin: 30px 0;
}
.highly-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.highly-info > div {
    max-width: 400px;
    color: #666;
}
.highly-info  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
}
.highly-info p {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}
.highly-info a {
    display: inline-block;
    margin: 30px auto 15px;
    padding: 8px 45px;
    background: #cb1224;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}
.contact {
    background: #f6f6f6;
}
.contact .container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.contact h1 {
    font-size: 40px; 
    margin-bottom: 25px;
}
.contact p {
    font-size: 15px;
    line-height: 30px;
}
.contact a {
    display: inline-block;
    margin-top: 40px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    background: #cb1224;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;

}


@media (max-width: 1620px) {
    .roundabout-holder{list-style:none;width:1000px;height:460px;margin:0px auto;}
    .roundabout-moveable-item{
        height:350px;width:568px;
    }
}

@media (max-width: 1440px) {
    .banner-info {
        padding-left: 100px;
        max-width: 500px;
    }
    .circle figure {
        bottom: -350px;
        right: -220px;
    }
    .banner-info h1 {
        letter-spacing: 20px;
        line-height: 90px;
        /*font-size: 70px;*/
    }
    .banner-info h2 {
        line-height: 50px;
        font-size: 30px;
    }
    .banner-info p {
        line-height: 26px;
    }
}
@media (max-width: 1200px) {
    .roundabout-holder{list-style:none;width:700px;height:400px;margin:0px auto;}
    .roundabout-moveable-item{
        height:300px;width:487px;
    }
    .roundabout-moveable-item .info {
        font-size: 20px;
    }
    .roundabout-moveable-item .active-info {

        width: 260px; 

        padding: 30px 15px;
    }
    .roundabout-moveable-item .active-info img {
        margin-top: 0;
        width: 80px; height: 80px;
    }
    .roundabout-moveable-item .active-info h3 {
        font-size: 18px;
        margin-top: 15px;
    }

     .roundabout-moveable-item .active-info a {

        margin-top: 15px;
    } 

    .m-product-wrap {
        padding: 0 15px;
    }
    .m-product-wrap li {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 65px 100px 65px 0;
    }
    .m-product-wrap li > div {
        position: relative;
    }
    .m-product-wrap li > div > img {
        width: 100%；
        height: 100%;
    }
    .m-product-info {
        position: absolute;
        top: -50px; right: -100px;bottom: -50px;
        width: 300px;
        background: rgba(204, 0, 0, .9);
        border-radius: 5px;
        padding: 30px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .m-product-info img {
        margin-top: 20px;
        width: 80px; height: 80px;
    }
    .m-product-info h3 {
        font-size: 18px;
        margin-top: 22px;
    }
    .m-product-info p {
        font-size: 14px;
        line-height: 28px;
        text-align: left;
    }
    .m-product-info a {
        display: inline-block;
        padding: 5px 20px; margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #fff;
    }
    .m-product-info a:hover {
        text-decoration: none;
        background: #fff;
        color: #c01a28;
    }


}
@media (max-width: 992px) {
    .banner {
        justify-content: center;
    }
    .banner-info {
        max-width: 100%;
        padding: 0 15px;
        color: #fff;
        text-align: center;
    }
    .banner-info h1 {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 2px;
    }
    .banner-info h2 {
        margin: 8px 0;
        font-size: 25px;
        letter-spacing: 4px;
    }
    .banner-info p {
        max-width: auto;
    }


}

@media (max-width: 768px) {
    .banner-info {
        padding: 0 30px 60px;
    }
    .banner-info h1 {
        font-size: 30px;
        /*letter-spacing: 5px;*/
    }
    .banner-info h2 {
        font-size: 20px;
        /*letter-spacing: 4px;*/
    }
    .banner-info p {
        font-size: 14px;
        line-height: 30px;
        max-width: auto;
    }
    .product {
        padding-top: 15px;
        padding-bottom:15px;
    }
    .product h1 {
        font-size: 25px;
    }
    .product p {
        font-size: 13px;
    }

    .m-product-wrap li {
        padding: 45px 30px 45px 0;
    }

    .m-product-info {
        top: -30px; right: -30px;bottom: -30px;
        width: 250px;
        padding: 15px;
    }

    .m-product-info img {
        display: none;
    }
    .m-product-info h3 {
        font-size: 16px;
        margin-top: 15px;
    }
    .m-product-info p {
        font-size: 13px;
        line-height: 22px;
    }
    .m-product-info a {
        padding: 5px 20px; 
        margin-top: 5px;
    }
    .adv {
        padding-top: 50px;
    }
    .adv h1 {
        font-size: 25px;
    }
    .adv .container {
        margin-top: 0;
    }

    .m-adv-items .adv-item {
        margin: 0;
        padding: 30px 15px 15px;
        height: 275px;
    }
    .m-adv-items img {
        width: 75px;
    }
    .m-adv-items h4{
        font-size: 15px;
        line-height: 26px;
    }
    .m-adv-items p {
        font-size: 13px;
        text-align: left;
    }
    
    .banner2 {
        padding: 50px 15px 20px;
        height: 500px;
    }
    .banner2 h1 {
        font-size: 25px;
    }
    .banner2 p {
        font-size: 13px;
    }
    .highly-active {
        padding-top: 15px;
    }
    .highly-active h1 {
        font-size: 25px;
    }
    .highly-active p {
        font-size: 13px;
    }
    .highly-active .highly-active-btns a {
        font-size: 12px;
        width: 150px;
    }
    
    .contact {
        margin-top: 0;
        padding-top: 0;
    }
    .contact .container {
        height: 300px;
    }
    .contact h1 {
        font-size: 25px;
    }
    .contact p {
        font-size: 13px;
    }

}