.page {
            margin-top: 80px;
        }
        .page > nav {
            line-height: 80px;
            border-bottom: 1px solid #ccc;
        }
        .page > nav  ol.breadcrumb {
            margin-bottom: 0;
            padding: 0;
        }
        
        .sub-nav .topul {
            border-bottom: 3px solid #820f1a;
        }
        .sub-nav .topul > li{
            line-height: 60px;
            background: #cb1224;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            padding-left: 15px;
            /*border-radius: 3px;*/
        }
        .sub-nav .subul li a{
            display: block;
            line-height: 50px;
            color: #666;
            padding-left: 15px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            text-decoration: none;
        }
        .sub-nav .subul li a:hover {
            background: #cb1224;
            color: #fff;
        }
        .main {
            padding: 50px 0;
        }
        .main h2 {
            margin-top: 0;
            margin-bottom: 30px;
            font-size: 36px;
            letter-spacing: 3px;
            font-weight: bold;
        }
        .main h4 {
            font-size: 16px;
            margin-top: 20px;
        }
        .main p {
            font-size: 14px;
            line-height: 28px;
        }

        @media (max-width: 768px) {
            .page {
                margin-top: 0;
            }

        }